<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Confirmação de Pedido</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div>
            <h1>
            Pedido número: <span th:text="${order.id}"> </span>
            </h1>
            <p>
            Cliente: <span th:text="${order.consumer.firstName}"></span>
            </p>
            <p>
            Situação do pagamento: <span
            th:text="${order.payment.status.translateStatus}"></span>
            </p>
            <h3>Detalhes do pedido:</h3>
            <p>
            Valor total: R$<span th:text="${#numbers.formatDecimal(order.totalValue, 0,
            'POINT', 2, 'COMMA')}"></span>
            </p>
            <p>Para mais informações do pedido entre em sua conta.</p>
            <p>
            Att. Lopestyle
            </p>
        </div>
    </body>
</html>