<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Solicitação de nova senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <div>
            <h1>
                Olá <span th:text="${usuario.firstName}"></span>
            </h1>
            <p>
                <h3>
                    Sua solicitação de nova senha chegou!</span>
                </h3>
                <h2>Nova senha: <span th:text="${novaSenha}"> </span></h2>
            </p>
        </div>
    </body>
</html>